<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-contestfield-heading"
        data-cy="ContestfieldCreateUpdateHeading"
        jhiTranslate="contestmanagerdbApp.contestfield.home.createOrEditLabel"
        style="background-color: cadetblue"
      >
        Create or edit a Contestfield
      </h2>
      <hr />
      <br />
      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null" hidden>
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="text" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <!-- ******** Modified By Mohamed ********* -->
        <div class="row mb-3">
          <label class="form-label" jhiTranslate="contestmanagerdbApp.contestfield.cname" for="field_cname">Cname</label>
          <input
            type="text"
            class="form-control"
            name="cname"
            id="field_cname"
            data-cy="cname"
            formControlName="cname"
            [(ngModel)]="contestfieldLine.cname"
          />
          <div *ngIf="editForm.get('cname')!.invalid && (editForm.get('cname')!.dirty || editForm.get('cname')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('cname')?.errors?.required" jhiTranslate="entity.validation.required">
              هذا الحقل مطلوب.
            </small>
          </div>
        </div>

        <!-- ******** Modified By Mohamed ********* -->
        <div class="row mb-3">
          <label class="form-label" jhiTranslate="contestmanagerdbApp.contestfield.ctype" for="field_ctype">Ctype</label>
          <input
            type="text"
            class="form-control"
            name="ctype"
            id="field_ctype"
            data-cy="ctype"
            formControlName="ctype"
            [(ngModel)]="contestfieldLine.ctype"
          />
          <div *ngIf="editForm.get('ctype')!.invalid && (editForm.get('ctype')!.dirty || editForm.get('ctype')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('ctype')?.errors?.required" jhiTranslate="entity.validation.required">
              هذا الحقل مطلوب.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="contestmanagerdbApp.contestfield.reference" for="field_reference">Reference</label>
          <input
            type="text"
            class="form-control"
            name="reference"
            id="field_reference"
            data-cy="reference"
            formControlName="reference"
            [(ngModel)]="contestfieldLine.reference"
          />
          <div *ngIf="editForm.get('reference')!.invalid && (editForm.get('reference')!.dirty || editForm.get('reference')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('reference')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              هذا الحقل مطلوب.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="contestmanagerdbApp.contestfield.logic" for="field_logic">Logic</label>
          <input
            type="text"
            class="form-control"
            name="logic"
            id="field_logic"
            data-cy="logic"
            formControlName="logic"
            [(ngModel)]="contestfieldLine.logic"
          />
          <div *ngIf="editForm.get('logic')!.invalid && (editForm.get('logic')!.dirty || editForm.get('logic')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('logic')?.errors?.required" jhiTranslate="entity.validation.required">
              هذا الحقل مطلوب.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="contestmanagerdbApp.contestfield.fopconstraint" for="field_fopconstraint"
            >Fopconstraint</label
          >
          <input
            type="text"
            class="form-control"
            name="fopconstraint"
            id="field_fopconstraint"
            data-cy="fopconstraint"
            formControlName="fopconstraint"
            [(ngModel)]="contestfieldLine.fopconstraint"
          />
          <div
            *ngIf="
              editForm.get('fopconstraint')!.invalid && (editForm.get('fopconstraint')!.dirty || editForm.get('fopconstraint')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('fopconstraint')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              هذا الحقل مطلوب.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="contestmanagerdbApp.contestfield.fvalue" for="field_fvalue">Fvalue</label>
          <input
            type="text"
            class="form-control"
            name="fvalue"
            id="field_fvalue"
            data-cy="fvalue"
            formControlName="fvalue"
            [(ngModel)]="contestfieldLine.fvalue"
          />
          <div *ngIf="editForm.get('fvalue')!.invalid && (editForm.get('fvalue')!.dirty || editForm.get('fvalue')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('fvalue')?.errors?.required" jhiTranslate="entity.validation.required">
              هذا الحقل مطلوب.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="contestmanagerdbApp.contestfield.sopconstraint" for="field_sopconstraint"
            >Sopconstraint</label
          >
          <input
            type="text"
            class="form-control"
            name="sopconstraint"
            id="field_sopconstraint"
            data-cy="sopconstraint"
            formControlName="sopconstraint"
            [(ngModel)]="contestfieldLine.sopconstraint"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="contestmanagerdbApp.contestfield.svalue" for="field_svalue">Svalue</label>
          <input
            type="text"
            class="form-control"
            name="svalue"
            id="field_svalue"
            data-cy="svalue"
            formControlName="svalue"
            [(ngModel)]="contestfieldLine.svalue"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="contestmanagerdbApp.contestfield.contest" for="field_contest">Contest</label>
          <select
            class="form-select"
            id="field_contest"
            data-cy="contest"
            name="contest"
            formControlName="contest"
            [compareWith]="compareContest"
          >
            <option *ngIf="!editForm.get('contest')!.value" [ngValue]="null" selected>-- الرّجـاء إختيـار المنــاظرة --</option>
            <option [ngValue]="contestOption" *ngFor="let contestOption of contestsSharedCollection">{{ contestOption.name }}</option>
          </select>
        </div>

        <!-- ******** Modified By Mohamed ********* -->
        <div class="row mb-3">
          <label class="form-label" jhiTranslate="contestmanagerdbApp.contestfield.mandatory" for="field_mandatory">Mandatory</label>
          <input type="checkbox" class="form-check" name="mandatory" id="field_mandatory" data-cy="mandatory" formControlName="mandatory" />
        </div>

        <div *ngIf="editForm.get(['contest'])!.invalid && (editForm.get(['contest'])!.dirty || editForm.get(['contest'])!.touched)">
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['contest'])?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            هذا الحقل مطلوب.
          </small>
        </div>
      </div>

      <div>
        <!-- **** Modified By Mohamed 
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">الغاء</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">حفظ</span>
        </button> -->
        <!--
        <button type="submit" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete Contest Fields</span>
         </button>
        -->

        <div class="col-sm-1 align-self-end">
          <button type="button" class="btn btn-outline-danger rounded-0 btn-block" id="deleteRow" (click)="deleteContestfieldLine()">
            <fa-icon icon="times"></fa-icon>
            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete Contest Fields</span>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
