<form class="example-form mb-2" cdkDrag (cdkDragEnded)="ondragended($event)">
  <mat-icon (click)="deleteContestfieldLine()" aria-hidden="false" aria-label="Example delete icon" fontIcon="delete"></mat-icon>
  <mat-icon (click)="openDialog($event)" aria-hidden="false" aria-label="Example settings icon" fontIcon="settings"></mat-icon>

  <br />

  <mat-form-field>
    <mat-label>التـاريـخ</mat-label>
    <input matInput [matDatepicker]="picker" />
    <mat-hint></mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
</form>
