<div>
  <h2 id="page-heading" data-cy="ContestHeading">
    <span jhiTranslate="contestmanagerdbApp.contest.home.title">Contests</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="contestmanagerdbApp.contest.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-contest"
        [routerLink]="['/contest/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="contestmanagerdbApp.contest.home.createLabel"> Create a new Contest </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="contests?.length === 0">
    <span jhiTranslate="contestmanagerdbApp.contest.home.notFound">No Contests found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="contests && contests.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="code">
            <div class="d-flex">
              <span jhiTranslate="contestmanagerdbApp.contest.code">Code</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="rank">
            <div class="d-flex">
              <span jhiTranslate="contestmanagerdbApp.contest.rank">Rank</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="name">
            <div class="d-flex">
              <span jhiTranslate="contestmanagerdbApp.contest.name">Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="parent">
            <div class="d-flex">
              <span jhiTranslate="contestmanagerdbApp.contest.parent">Parent</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="nbpositions">
            <div class="d-flex">
              <span jhiTranslate="contestmanagerdbApp.contest.nbpositions">Nbpositions</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="status">
            <div class="d-flex">
              <span jhiTranslate="contestmanagerdbApp.contest.status">Status</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="contestannounce.id">
            <div class="d-flex">
              <span jhiTranslate="contestmanagerdbApp.contest.contestannounce">Contestannounce</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="grade.id">
            <div class="d-flex">
              <span jhiTranslate="contestmanagerdbApp.contest.grade">Grade</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="speciality.id">
            <div class="d-flex">
              <span jhiTranslate="contestmanagerdbApp.contest.speciality">Speciality</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="sector.id">
            <div class="d-flex">
              <span jhiTranslate="contestmanagerdbApp.contest.sector">Sector</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let contest of contests; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/contest', contest.id, 'view']">{{ contest.id }}</a>
          </td>
          <td>{{ contest.code }}</td>
          <td>{{ contest.rank }}</td>
          <td>{{ contest.name }}</td>
          <td>{{ contest.parent }}</td>
          <td>{{ contest.nbpositions }}</td>
          <td>{{ contest.status }}</td>
          <td>
            <div *ngIf="contest.contestannounce">
              <a [routerLink]="['/contestannounce', contest.contestannounce.id, 'view']">{{ contest.contestannounce.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="contest.grade">
              <a [routerLink]="['/grade', contest.grade.id, 'view']">{{ contest.grade.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="contest.speciality">
              <a [routerLink]="['/speciality', contest.speciality.id, 'view']">{{ contest.speciality.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="contest.sector">
              <a [routerLink]="['/sector', contest.sector.id, 'view']">{{ contest.sector.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/contest', contest.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">عرض</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/contest', contest.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">تعديل</span>
              </button>

              <button type="submit" (click)="delete(contest)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">حذف</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="contests && contests.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
