<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="contest">
      <h2 data-cy="contestDetailsHeading"><span jhiTranslate="contestmanagerdbApp.contest.detail.title">Contest</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt hidden><span jhiTranslate="global.field.id">ID</span></dt>
        <dd hidden>
          <span>{{ contest.id }}</span>
        </dd>
        <dt><span jhiTranslate="contestmanagerdbApp.contest.code">Code</span></dt>
        <dd>
          <span>{{ contest.code }}</span>
        </dd>
        <dt><span jhiTranslate="contestmanagerdbApp.contest.rank">Rank</span></dt>
        <dd>
          <span>{{ contest.rank }}</span>
        </dd>
        <dt><span jhiTranslate="contestmanagerdbApp.contest.name">Name</span></dt>
        <dd>
          <span>{{ contest.name }}</span>
        </dd>
        <dt><span jhiTranslate="contestmanagerdbApp.contest.parent">Parent</span></dt>
        <dd>
          <span>{{ contest.parent }}</span>
        </dd>
        <dt><span jhiTranslate="contestmanagerdbApp.contest.nbpositions">Nbpositions</span></dt>
        <dd>
          <span>{{ contest.nbpositions }}</span>
        </dd>
        <dt><span jhiTranslate="contestmanagerdbApp.contest.status">Status</span></dt>
        <dd>
          <span>{{ contest.status }}</span>
        </dd>
        <dt><span jhiTranslate="contestmanagerdbApp.contest.contestannounce">Contestannounce</span></dt>
        <dd>
          <div *ngIf="contest.contestannounce">
            <a [routerLink]="['/contestannounce', contest.contestannounce.id, 'view']">{{ contest.contestannounce.announceText }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="contestmanagerdbApp.contest.grade">Grade</span></dt>
        <dd>
          <div *ngIf="contest.grade">
            <a [routerLink]="['/grade', contest.grade.id, 'view']">{{ contest.grade.designation }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="contestmanagerdbApp.contest.speciality">Speciality</span></dt>
        <dd>
          <div *ngIf="contest.speciality">
            <a [routerLink]="['/speciality', contest.speciality.id, 'view']">{{ contest.speciality.designation }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="contestmanagerdbApp.contest.sector">Sector</span></dt>
        <dd>
          <div *ngIf="contest.sector">
            <a [routerLink]="['/sector', contest.sector.id, 'view']">{{ contest.sector.designation }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">رجوع</span>
      </button>

      <button type="button" [routerLink]="['/contest', contest.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">تعديل</span>
      </button>
    </div>
  </div>
</div>
