.container {
  width: 1200px;
  height: 700px;
}

mat-datepicker-toggle {
  color: white;
}

.col-2 {
  display: grid;
  grid-template-rows: auto auto auto auto;
  gap: 1px;
  padding: 10px;
  border: 1px dashed;
  margin: 20px 1010px;
}

.col-2 > div {
  text-align: center;
}

.example {
  margin-top: -416px;
  border: dashed 1px;
  width: 1000px;
  height: 650px;

  padding-right: 20px;
}

.imgdrag {
  text-align: center;
  font-size: 25px;
  font-style: normal;
  margin-top: 275px;
}

button {
  cursor: move;
}
