<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="sector">
      <h2 data-cy="sectorDetailsHeading"><span jhiTranslate="contestmanagerdbApp.sector.detail.title">Sector</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt hidden><span jhiTranslate="global.field.id">ID</span></dt>
        <dd hidden>
          <span>{{ sector.id }}</span>
        </dd>
        <dt><span jhiTranslate="contestmanagerdbApp.sector.rank">Rank</span></dt>
        <dd>
          <span>{{ sector.rank }}</span>
        </dd>
        <dt><span jhiTranslate="contestmanagerdbApp.sector.designation">Designation</span></dt>
        <dd>
          <span>{{ sector.designation }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">رجوع</span>
      </button>

      <button type="button" [routerLink]="['/sector', sector.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">تعديل</span>
      </button>
    </div>
  </div>
</div>
