<div class="footer">
  <section class="footer" style="position: relative">
    <div class="container">
      <div class="row">
        <div class="col-md-9 col-xs-6" style="margin-right: 170px; margin-top: 10px">
          <h5 class="text_footer1 avenir_heavy" style="text-align: center">الشّركــة الجهويّــة للنقـل بولايــة صفـاقس</h5>
        </div>
      </div>
    </div>
  </section>
  <section class="copyright">
    <div class="container font-gray-xs">
      <div class="row">
        <div class="col-md-12 col-xs-12 col-sm-12 f-white f-13 text-center-sm-down">
          <div class="text_footer1 avenir_medium" style="text-align: center">جميــع الحقـوق محفـوظـة. © 2023</div>
        </div>
      </div>
    </div>
  </section>
</div>
