<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-contestform-heading"
        data-cy="ContestformCreateUpdateHeading"
        jhiTranslate="contestmanagerdbApp.contestform.home.createOrEditLabel"
      >
        Create or edit a Contestform
      </h2>
      <hr />
      <br />
      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null" hidden>
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="text" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="contestmanagerdbApp.contestform.contest" for="field_contest">Contest</label>
          <select
            class="form-select"
            id="field_contest"
            data-cy="contest"
            name="contest"
            formControlName="contest"
            [compareWith]="compareContest"
            [(ngModel)]="conobj"
            (ngModelChange)="OnChange()"
          >
            <option [ngValue]="null" *ngIf="!editForm.get('contest')!.value" selected>-- الرّجـاء إختيـار المنــاظرة --</option>
            <option [ngValue]="contestOption.id" *ngFor="let contestOption of contestsSharedCollection">{{ contestOption.name }}</option>
          </select>
        </div>
        <div *ngIf="editForm.get(['contest'])!.invalid && (editForm.get(['contest'])!.dirty || editForm.get(['contest'])!.touched)">
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['contest'])?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            هذا الحقل مطلوب.
          </small>
        </div>

        <!--***** Modified By Mohamed -->

        <div class="row mb-3" *ngIf="editForm.get('contest')!.value">
          <label class="form-label" jhiTranslate="contestmanagerdbApp.contestform.contestfield" for="field_contest">Contest Field</label>
          <select
            class="form-select"
            id="field_contestfield"
            data-cy="contestfield"
            name="contestfield"
            formControlName="contestfield"
            [(ngModel)]="fieldobj"
            (ngModelChange)="OnChangeField()"
          >
            <option [ngValue]="null" *ngIf="!editForm.get('contestfield')!.value" selected>-- الرّجـاء إختيـار حقـول المنــاظرة --</option>
            <option [ngValue]="fieldOption.cname" *ngFor="let fieldOption of contestfield">
              {{ fieldOption.cname }}
            </option>
          </select>
        </div>

        <!--***** Modified By Mohamed -->

        <!-- **** Modified By Mohamed *****-->

        <div class="col-12">
          <form name="fields" role="form" novalidate (ngSubmit)="save()" [formGroup]="fields">
            <div *ngFor="let type of arrayField">
              <!--change-->
              <div class="row">
                <div class="col-3" *ngIf="editForm.get('contest')!.value">
                  <label class="form-label" jhiTranslate="contestmanagerdbApp.contestform.typecontestfield" for="field_contest"
                    >Contest Field</label
                  >
                  <select
                    class="form-select"
                    id="field_contestfield"
                    data-cy="contestfield"
                    name="contestfield"
                    formControlName="contestfield"
                  >
                    <option [ngValue]="null" *ngIf="!editForm.get('contestfield')!.value" selected>
                      -- الرّجـاء إختيـار نوع حقـول المنــاظرة --
                    </option>
                    <option *ngFor="let Option of listobject">
                      {{ Option.type }}
                    </option>
                  </select>
                </div>

                <div class="col-3">
                  <label class="form-label" jhiTranslate="contestmanagerdbApp.contest.parent" for="field_parent">Parent</label>
                  <input type="text" class="form-control" name="parent" id="field_parent" data-cy="parent" formControlName="parent" />
                </div>
              </div>
            </div>
          </form>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="contestmanagerdbApp.contestform.user" for="field_user">User</label>
          <select class="form-select" id="field_user" data-cy="user" name="user" formControlName="user" [compareWith]="compareUser">
            <option *ngIf="!editForm.get('user')!.value" [ngValue]="null" selected>-- الرّجـاء إختيـار المستخدم --</option>
            <option [ngValue]="userOption" *ngFor="let userOption of usersSharedCollection">{{ userOption.login }}</option>
          </select>
        </div>
        <div *ngIf="editForm.get(['user'])!.invalid && (editForm.get(['user'])!.dirty || editForm.get(['user'])!.touched)">
          <small class="form-text text-danger" *ngIf="editForm.get(['user'])?.errors?.required" jhiTranslate="entity.validation.required">
            هذا الحقل مطلوب.
          </small>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">الغاء</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">حفظ</span>
        </button>
      </div>
    </form>
  </div>
</div>
