<form class="example-form mb-2" cdkDrag (cdkDragEnded)="ondragended($event)">
  <mat-icon (click)="deleteContestfieldLine()" aria-hidden="false" aria-label="Example delete icon" fontIcon="delete"></mat-icon>
  <mat-icon (click)="openDialog()" aria-hidden="false" aria-label="Example settings icon" fontIcon="settings"></mat-icon>

  <br />
  <mat-form-field class="example-form-field">
    <mat-label jhiTranslate="contestmanagerdbApp.contest.parent">Name</mat-label>
    <input matInput type="text" placeholder="Ex. pat@example.com" />
  </mat-form-field>
</form>
