<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="contestform">
      <h2 data-cy="contestformDetailsHeading"><span jhiTranslate="contestmanagerdbApp.contestform.detail.title">Contestform</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ contestform.id }}</span>
        </dd>
        <dt><span jhiTranslate="contestmanagerdbApp.contestform.contest">Contest</span></dt>
        <dd>
          <div *ngIf="contestform.contest">
            <a [routerLink]="['/contest', contestform.contest.id, 'view']">{{ contestform.contest.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="contestmanagerdbApp.contestform.user">User</span></dt>
        <dd>
          <span>{{ contestform.user?.login }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">رجوع</span>
      </button>

      <button type="button" [routerLink]="['/contestform', contestform.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">تعديل</span>
      </button>
    </div>
  </div>
</div>
