<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="speciality">
      <h2 data-cy="specialityDetailsHeading"><span jhiTranslate="contestmanagerdbApp.speciality.detail.title">Speciality</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt hidden><span jhiTranslate="global.field.id">ID</span></dt>
        <dd hidden>
          <span>{{ speciality.id }}</span>
        </dd>
        <dt><span jhiTranslate="contestmanagerdbApp.speciality.rank">Rank</span></dt>
        <dd>
          <span>{{ speciality.rank }}</span>
        </dd>
        <dt><span jhiTranslate="contestmanagerdbApp.speciality.designation">Designation</span></dt>
        <dd>
          <span>{{ speciality.designation }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">رجوع</span>
      </button>

      <button type="button" [routerLink]="['/speciality', speciality.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">تعديل</span>
      </button>
    </div>
  </div>
</div>
