.mat-dialog {
  margin-top: -416px;
  border: 1px;
  width: 1000px;
  height: 1200px;
  position: relative;
  padding-right: 20px;
}
.test1 {
  margin: 120px;
  height: 220px;
  width: 320px;
  border: 2px solid;
  background-color: red;
  position: absolute;
}

.test0 {
  margin: 210px;
  height: 270px;
  width: 120px;
  border: 2px solid;
  background-color: yellow;
}
